body{
    height: auto;
    width: auto;
}
 #header{
    height: 25vh;
 }
 
#header button{
    margin: 20px;
}

.navbar img{
    height: 150px;
    width: 150px;
    margin: 20px;
}

.collapse li{
    padding: 40px;
}

